*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.break{
  width: 600px;  
}

.dhr{
  width: 5px;
  color: red;
}

.desktop{
  background-image: url(./assets/home/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100px; */
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.tablet{
  background-image: url(./assets/home//tablet/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.mobile{
  background-image: url(./assets/home//mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

